.heroBanner{
  height: 100%;
  color: #fff;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  background: url('../../images/heroImage.png') no-repeat center center/cover;
}
.heroText{
  padding: 14rem 0 0 8rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}
.heroText h5{
  font-size: 1.4rem;
  width: fit-content;
  padding: .3rem .9rem;
  background: rgba(4, 28, 55, 0.5);
  border-left: 5px solid #FFB629;
}
.heroText h1{
  width: 40%;
  line-height: 1.2;
}
.heroText p{
  width: 45%;
  font-weight: 500;
  line-height: 1.5;
}

.btnContainer{
  padding: 0 8rem;
  width: fit-content;
  margin-top: 2.4rem;
}