.blog{
  display: flex;
  width: 90rem;
  margin: 0 auto;
  padding: 3rem 0;
  border-top: 1px solid #D6D6D6;
}
.blog.last{
  border-bottom: 1px solid #D6D6D6;
}
.blogPostDate{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}
.blogPostDate h4{
  color: #1C1F35;
  font-size: 4rem;
  text-align: center
}

.blogPostDate p{
  color: #666C89;
}
.blogDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  border-left: 1px solid #D6D6D6;

}
.blogDetails h4{
  color: #1C1F35;
  font-size: 2.5rem;
  font-weight: 400;
}
.blogDetails h4.diff{
  color: #FFBE34;
}
.blogDetails p{
  color: #666C89;
  line-height: 1.5;
  margin-top: 1.6rem;
}
.blogDetails ul{
  margin-top: 1.8rem;
  color: #1C1F35;
  font-weight: 500;
}
.blogDetails li{
  font-family: 'Krub', sans-serif;
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #1C1F35;
}