.card{
  padding: 2rem 2.5rem;
  width: 32rem;
  height: 40.7rem;
  position: relative;
  overflow: hidden;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  justify-content: flex-end;
  font-weight: 500;
  z-index: 1;
  font-family: 'Rubik', sans-serif;
}

.card p{
  font-weight: 500;
  color: #FFB629;
}

.card::after{
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background: linear-gradient(0deg, #091242 14.34%, rgba(60, 60, 60, 0) 43.86%);
}

.card.one{
  background: url('../../images/photo1.png');
}
.card.two{
  background: url('../../images/photo2.png');
}
.card.three{
  background: url('../../images/photo3.png');
}
.card.four{
  background: url('../../images/photo4.png');
}
.card.five{
  background: url('../../images/photo5.png');
}

.featureCard{
  height: fit-content;
  width: 100rem;
  margin: -19.5rem auto;
  z-index: 10;
  background: #fff;
  display: flex;
  gap: 9rem;
}
.textArea{
  width: 52%;
  padding-top: 5rem;
  padding-left: 4rem;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.textArea p{
  margin-bottom: .5rem;
  line-height: 1.5;
  color: var(--paragraph-font-color);
}
.textArea h3{
  color: #1C1F35;
  width: 100%;
  line-height: 1.1;
}
.imageArea{
  position: relative;
  width: 43%;
  padding-top: 5rem;
  padding-right: 4rem;
  flex: 1;
}
.imageArea img{
  width: 100%;
  height: auto;
}
.imageArea::after{
  content: url('../../images/inventor.png');
  position: absolute;
  bottom: 0;
  left: 0;
  height: fit-content;
  background-color: #fff;
  padding: 3rem;
  transform: translate(-50%, -5%);
  border: none;
}
.iconTextArea{
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.iconItems{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.iconItems h5{
  font-weight: 400;
}