@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');

:root{
	--primary-color-1: #FFBE34;
	--primary-color-2: #091242;
	--secondary-color: #F4F4F4;
	--heading-font-color: #1C1F35;
	--paragraph-font-color: #666C89;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5{
	font-family: 'Rubik', sans-serif;
}

h1, h2{
	font-weight: 600;
}

h1{
	font-size: 5rem;
}

h2{
	font-size: 4rem;
}

h3, h4, h5{
	font-weight: 500;
}

h3{
	font-size: 3.5rem;
}

h4{
	font-size: 3rem;
}

h5{
	font-size: 2rem;
}

p{
	font-family: 'Krub', sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.5;
}

a{
	text-decoration: none;
	cursor: pointer;
}
li{
	list-style: none;
}

.container{
	max-width: 1920px;
	height: auto;
	margin: 0 auto;
}

.plainSection{
	position: relative;
	margin-bottom: 10rem;
	height: 35rem;
	background: url('/src/images/containerImage.png') no-repeat center center/cover;
	z-index: 1;
}
.plainSection::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: linear-gradient(360deg, #091242 -11.11%, rgba(9, 18, 66, 0) 90.28%);
}